@import "../../../../styles/global";

.react-buttons-builder-sidebar {
    border-right: 1px solid $border;

    > button {
        background: $background;
        border-bottom: 1px solid $border;
        height: 100px;
        width: 150px;

        &:hover {
            background: $input;
        }

        &.active {
            background: $input;
        }
    }
}
