$xs: 428px;
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;
$xxxl: 1499px;
$xxxxl: 1599px;

// display-2xl
$display-2xl-font-size-xxxxl: 80px;
$display-2xl-font-size-xxxl: 80px;
$display-2xl-font-size-xxl: 80px;
$display-2xl-font-size-xl: 64px;
$display-2xl-font-size-lg: 56px;
$display-2xl-font-size-md: 48px;
$display-2xl-font-size-sm: 42px;
$display-2xl-font-size-xs: 38px;

// display-xl
$display-xl-font-size-xxxxl: 64px;
$display-xl-font-size-xxxl: 64px;
$display-xl-font-size-xxl: 64px;
$display-xl-font-size-xl: 58px;
$display-xl-font-size-lg: 52px;
$display-xl-font-size-md: 46px;
$display-xl-font-size-sm: 38px;
$display-xl-font-size-xs: 34px;

// display-lg
$display-lg-font-size-xxxxl: 48px;
$display-lg-font-size-xxxl: 48px;
$display-lg-font-size-xxl: 48px;
$display-lg-font-size-xl: 42px;
$display-lg-font-size-lg: 38px;
$display-lg-font-size-md: 32px;
$display-lg-font-size-sm: 28px;
$display-lg-font-size-xs: 24px;

// display-md
$display-md-font-size-xxxxl: 36px;
$display-md-font-size-xxxl: 36px;
$display-md-font-size-xxl: 36px;
$display-md-font-size-xl: 34px;
$display-md-font-size-lg: 32px;
$display-md-font-size-md: 30px;
$display-md-font-size-sm: 28px;
$display-md-font-size-xs: 26px;

// display-sm
$display-sm-font-size-xxxxl: 30px;
$display-sm-font-size-xxxl: 30px;
$display-sm-font-size-xxl: 30px;
$display-sm-font-size-xl: 28px;
$display-sm-font-size-lg: 26px;
$display-sm-font-size-md: 24px;
$display-sm-font-size-sm: 22px;
$display-sm-font-size-xs: 20px;

// display-xs
$display-xs-font-size-xxxxl: 24px;
$display-xs-font-size-xxxl: 24px;
$display-xs-font-size-xxl: 24px;
$display-xs-font-size-xl: 22px;
$display-xs-font-size-lg: 20px;
$display-xs-font-size-md: 18px;
$display-xs-font-size-sm: 16px;
$display-xs-font-size-xs: 14px;

// text-xl
$text-xl-font-size-xxxxl: 20px;
$text-xl-font-size-xxxl: 20px;
$text-xl-font-size-xxl: 20px;
$text-xl-font-size-xl: 18px;
$text-xl-font-size-lg: 16px;
$text-xl-font-size-md: 14px;
$text-xl-font-size-sm: 12px;
$text-xl-font-size-xs: 12px;

// text-lg
$text-lg-font-size-xxxxl: 18px;
$text-lg-font-size-xxxl: 18px;
$text-lg-font-size-xxl: 18px;
$text-lg-font-size-xl: 16px;
$text-lg-font-size-lg: 14px;
$text-lg-font-size-md: 12px;
$text-lg-font-size-sm: 12px;
$text-lg-font-size-xs: 12px;

// text-md
$text-md-font-size-xxxxl: 16px;
$text-md-font-size-xxxl: 16px;
$text-md-font-size-xxl: 16px;
$text-md-font-size-xl: 16px;
$text-md-font-size-lg: 14px;
$text-md-font-size-md: 12px;
$text-md-font-size-sm: 12px;
$text-md-font-size-xs: 12px;

// text-sm
$text-sm-font-size-xxxxl: 14px;
$text-sm-font-size-xxxl: 14px;
$text-sm-font-size-xxl: 14px;
$text-sm-font-size-xl: 14px;
$text-sm-font-size-lg: 14px;
$text-sm-font-size-md: 12px;
$text-sm-font-size-sm: 11px;
$text-sm-font-size-xs: 11px;

// text-xs
$text-xs-font-size-xxxxl: 12px;
$text-xs-font-size-xxxl: 12px;
$text-xs-font-size-xxl: 12px;
$text-xs-font-size-xl: 12px;
$text-xs-font-size-lg: 12px;
$text-xs-font-size-md: 11px;
$text-xs-font-size-sm: 11px;
$text-xs-font-size-xs: 11px;

// paddings
$padding-xxl: 12px 32px;
$padding-xl: 12px 32px;
$padding-lg: 10px 30px;
$padding-md: 8px 28px;
$padding-sm: 8px 26px;
$padding-xs: 6px 22px;
